.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
}

.list ul {
  padding: 0;
}

.newTaskButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;;
  border: none;
  border-radius: 9999px;
	outline: inherit;
	background: none;
  color: #9ca3af;
  background-color: #f3f4f6;
}

.newTaskButton:hover {
  color: #6b7280;
  background-color: #e5e7eb;
}

.listNameInput {
  font-weight: 600;
  font-size: 1.1875rem;
}
